* {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px;
	background: #FFFFFF;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #333333;
}
.container {
	width: auto;
	height: auto;
	margin: auto;
	text-align: left;
}
.content {
	padding: 10px;
	min-height: 100px;
	text-align: center;
	max-width: 680px;
	margin: 0 auto;
}

/* Sortable ******************/
#sortable {
	list-style: none;
	text-align: left;
}
#sortable li {
	margin: 10px;
	min-height: 100px;
	height: auto;
	background: #dbd9d9;
	border: 1px solid #999999;
	width: 200px;

	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Chrome, Safari */
}
#sortable li span {
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 100px;
	height: auto;

	float: left;
	cursor: move;
	display: block;
	word-wrap: break-word;
}
#sortable li img {
	height: 65px;
	border: 5px solid #cccccc;
	display: inline-block;
	float: left;
}
#sortable li div {
	padding: 5px;
}
#sortable li h2 {
	font-size: 16px;
	line-height: 20px;
}


